@import '../Common/colors';
@import '../Common/mixins';

.findForm{
    margin-bottom: 30px;
}

.findInput{
    background-color:  $BlACK;
    color: $WHITE;
    font-size: 18px;
    min-width:300px;
    min-height: 40px;
    border: 1px solid $GRAY2;
}
.findSelect{
    min-height: 40px;
    background-color: $BlACK;
    color: $WHITE;
    border: 1px solid $GRAY2;
    margin-right: 5px;
    font-size: 15px;
}
.findButton{
    min-height: 40px;
    min-width: 80px;
    border-radius: 5px;
    @extend %yellowButton;
    margin-left: 10px;
}
.findButton:hover{
    @extend %yellwoButtonHover
}