@import '../Common/colors';
.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textarea {
    border: 2px solid $GRAY2;
    flex: 1 1 auto;
    font-size: 16px;
    padding: 10px 0 0 10px;
    min-height: 50px;
    height: auto;
    border-radius: 5px;
    resize: none;
    background-color: $BlACK;
    color: $WHITE;
}
.textarea::-webkit-scrollbar{
    width: 0px;
}

.button {
    flex: 0 1 30px;
    background-color: #fff;
}
.button img {
    width: 30px;
    height: 30px;
}
