.friend {
    display: grid;
    grid-template-columns: 80px 410px;
    justify-content: center;
    margin-bottom: 40px;
    gap: 30px;
}
.left {
}
.img {
    position: relative;
    padding: 40px;
}
.img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}

.right {
    display: flex;
    justify-content: space-between;
}
.first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name {
    padding-top: 8px;
    font-weight: 600;
    color: #2a5885;
}
.follow {
    margin-top: 10px;
    width: 110px;
    height: 30px;
    background-color: #5181b8;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}
.location {
    color: #939598;
}
.sendMessage a {
    color: #576069;
    font-weight: 600;
}
