.header {
    grid-area: header;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    padding-top: 15px;
    background-color: black;
    height: 60px;
    z-index: 10;
    border-bottom:1px solid white;
}

.row {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.left {
    flex: 0 1 400px;
}
.right {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}
.list {
    display: flex;
}

.login {
    float: right;
}