@import '../Common/colors';

.status {
    font-size: 16px;
    color: $WHITE;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
    margin-bottom: 20px;
   
}
.status span{
    cursor: pointer;
    transition: color 0.3s;
    
}
.status span:hover{
    color: $GRAY;
    transition: color 0.3s;
}

.status input {
    font-size: 16px;
    border-bottom: 1px solid $GRAY2;
    color: $WHITE;
    background-color: $BlACK;
    
}